body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    font-size: 30px;
    color: white;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url("../images/acceuil.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 50px;
    font-weight: 300;
}

.hero p {
    font-size: 18px;
}

button {
    padding: 12px 30px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
}

.hero img {
    width: 500px;
    margin-top: 30px;
}

.best-sellers {
    text-align: center;
    padding: 50px;
}

.best-sellers img {
    width: 250px;
    margin: 15px;
    transition: 0.3s;
}

.best-sellers img:hover {
    transform: scale(1.05);
}
